.editicon{
    padding: 0px 4px;
    vertical-align: super;
    color:rgb(84, 92, 216);
    cursor:pointer
  }
.webicon{
    padding: 0px 4px;
    vertical-align: super;
    color:rgb(84, 92, 216);
    cursor:pointer
}
.fs10{
    font-size: 10px 
}
.pt6{
    padding-top: 6px; 
}