.editicon{
    padding: 0px 4px;
    color:rgb(84, 92, 216);
    cursor:pointer;
    vertical-align:text-top

  }
.webicon{
    padding: 0px 4px;
    color:rgb(84, 92, 216);
    cursor:pointer;
    vertical-align:text-top

}
.fs10{
    font-size: 10px 
}
.pt6{
    padding-top: 6px; 
}

.opacity0{
    opacity: 0 !important;
}

.opacity1{
    opacity: 1 !important;
}
/* tick + cross*/

.wh20{
    width: 20px;
    height: 20px;
    padding: 0 2px 2px 2px;
}
.pointer {
    cursor: pointer;
}
button:focus {
    outline:0;
}
.card{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 26px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding-top:2px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    float:right;

}
/* remove input focus */
*:focus {
    outline-color:rgba(82, 168, 236, 0.8);

}
